/* This is the menu outline, It should always be on top, hence its position: fixed */
/* When we click, we don't want the menu to be scrollable */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/* This is the checkbox */
/* We are using the checkbox because we can style it in its checked state, however, we will hide it from view */
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  height: 50px;
  width: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger lines */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves top line of hamburger down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Toggler to X animation */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover in checked state */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Beginning of LAST SECTION of CSS writing */
/* At this point is where we uncomment the things we commented out before */
/* Show Menu */
/* We use the tilde (~) to target the menu class since it's a sibling, although not direct, to the toggler class and they share the same parent  */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

/* End of LAST SECTION Of CSS writing */

/* Comment visibility out while working first so we can see the stuff we are working with */
/* The menu items */
.menu-wrap .menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
So the height and width will be set to span out pretty much outside the whole screen 
This is to enable us clear out the whole area with the menu content when we open it

Comment the transform out first since we are still working on the menu
*/
.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 300vw;
  height: 300vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

/* The second div after the previous div that was styled */
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* The list items */
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5em;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  color: var(--secondary-color);
}
