* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    line-height: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.7em;
}
.container {
    max-width: 700px;
    margin: 0px auto;
}

.box {
    background: #ccacaa;
    border-left: 1px solid purple;
    margin: 10px 0px;
    padding: 5px;            
}
.box p {
    text-align: justify;
}
#box-2 {
    float: left;
    width: 49%;
}
#box-3 {
    float: right;
    width: 49%;
}
.clear {
    clear:both;
}
.center {
    text-align: center;
    text-decoration: underline;
}
/* 2nd bg-color #446190 */
.navbar {
    background: #A38988;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    overflow: auto;
}

.navbar li {
    float: left;
    list-style-type: none;    
}

.navbar li a {
    display: block;
    text-decoration: none;
    padding: 8px;
    font-size: 1.3em;
    color: #fff;
    margin-left: 15px;
}

.navbar li a:hover {
    background-color: #8E7876;
    color: #f4f4f4;
}